<!--
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Purple Path                                                                                 |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Crea una 'template reference variable' del formulario: quizá la necesites. Además, suscribe |
| el formulario al evento correspondiente para hacer 'submit' del mismo: no olvides pasar la  |
| referencia del formulario en él.                                                            |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
-->
<form ngForm #post="ngForm" (ngSubmit)="submitPost(post)" novalidate>
  <!--
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                                                     |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | El campo 'title' debe enlazarse al formulario a través de la directiva 'ngModel'. Recuerda usar |
  | el nombre que se ha definido en la entidad Post. Además, este campo debe ser obligatorio.       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  -->
  <div class="msgError" [hidden]="title.valid || title.untouched">Título obligatorio</div>
  <input type="text"
         placeholder="Título"
         ngModel
         name="title"
         #title = "ngModel"
         class="u-full-width"
         required>
  <!--
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                                                     |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | El campo 'intro' debe enlazarse al formulario a través de la directiva 'ngModel'. Recuerda usar |
  | el nombre que se ha definido en la entidad Post. Además, este campo debe ser obligatorio.       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  -->
  <div class="msgError" [hidden]="intro.valid || intro.untouched">Introducción obligatoria, mínimo 40 carácteres</div>
  <textarea placeholder="Introduce tu historia"
            ngModel
            name="intro"
            #intro="ngModel"
            class="u-full-width georgia-font"
            autogrow
            required
            minlength="40"></textarea>
  <!--
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                                                     |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | El campo 'body' debe enlazarse al formulario a través de la directiva 'ngModel'. Recuerda usar  |
  | el nombre que se ha definido en la entidad Post. Además, este campo debe ser obligatorio.       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  -->
  <div class="msgError" [hidden]="body.valid || body.untouched">Cuerpo de la historia obligatorio, mínimo 200 carácteres</div>
  <textarea placeholder="Cuenta tu historia"
            ngModel
            name="body"
            #body="ngModel"
            class="u-full-width georgia-font"
            autogrow
            required
            minlength="200"></textarea>
  <div>
    <div>
      <label (click)="setScheduling(false)">
        <span class="radio-input" [class.active]="!_publicationDateScheduled"></span>
        No programar
      </label>
    </div>
    <div>
      <label (click)="setScheduling(true)">
        <span class="radio-input" [class.active]="_publicationDateScheduled"></span>
        Publicar en:
      </label>
    </div>
    <div>
      <input type="datetime-local"
             name="publicationDate"
             [min]="_nowDatetimeLocal"
             [ngModel]="_nowDatetimeLocal">
    </div>
  </div>
  <!--
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                              |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Deshabilita el botón 'Publicar' en caso de que el formulario no sea      |
  | válido. Para ello vas a necesitar acceder al 'FormGroup' del formulario. |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  -->
  <button type="submit"
          class="button-primary u-pull-right" [disabled]="post.invalid">Publicar</button>
</form>
